<p class="espacio">&nbsp;</p>
<!-- -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5 col-md-2">
			<a href="http://192.168.0.101/polaris/index.php/home/cliente/260004750001"> 
				<img src="http://192.168.0.101/polaris/img/bolivar.png" class="img-responsive img-thumbnail" alt="Bolivar">
			</a>
		</div>
		<div class="col-xs-5 col-md-2">
			<a href="http://192.168.0.101/polaris/index.php/home/cliente/0360015690001"> 
				<img src="http://192.168.0.101/polaris/img/canar.png" class="img-responsive img-thumbnail" alt="Cañar">
			</a>
		</div>
		<div class="col-xs-5 col-md-2">
			<a href="http://192.168.0.101/polaris/index.php/home/cliente/0660819660001"> 
				<img src="http://192.168.0.101/polaris/img/chimborazo.png" class="img-responsive img-thumbnail" alt="Chimborazo">
			</a>
		</div>  

		<div class="col-xs-5 col-md-2">
			<a href="http://192.168.0.101/polaris/index.php/home/cliente/0560022430001"> 
				<img src="http://192.168.0.101/polaris/img/cotopaxi.png" class="img-responsive img-thumbnail" alt="Cotopaxi">
			</a>
		</div>
		<div class="col-xs-5 col-md-2">
			<a href="http://192.168.0.101/polaris/index.php/home/cliente/1865012760001"> 
				<img src="http://192.168.0.101/polaris/img/tungurahua.png" class="img-responsive img-thumbnail" alt="Tungurahua">
			</a>
		</div>
	</div>
</div>

